.DS_Store
.coverage

*.pyc
*.egg-info
*.log

.tox
.cache
.idea
.npm

junit-*.xml

/dist/
/docs/build/
/node_modules/
/public/
/wheelhouse/

/src/wiskerke_onions/settings/local.py
/src/wiskerke_onions/static
