h1, .header1 {
    font: 2.4em 'opensans';
    font-weight: 300;
    margin: 2rem 0;
    padding: 0 0 1rem;

    &--large {
        font-size: 3.5em;
    }
}
h2 {
    font: 1.8em;
    font-weight: 300;
    padding: 0 0 1rem;
}
h3 {
    font: 1.4em;
    font-weight: 300;
    padding: 0 0 1rem;
}
h4 {
    font: 1.2em;
    font-weight: 300;
    padding: 0 0 1rem;
}
h5 {
    font: 1.1em;
    font-weight: 300;
    padding: 0 0 1rem;
}
h6 {
    font: 1em;
    font-weight: 300;
    padding: 0 0 1rem;
}
